.bg-oliva{
    background-color: #749D4B; /* Verde Alga */
}
.text-oliva{
    color: #749D4B; /* Verde Alga */

}
.body{
    background-color: #ffffff;
}
.bi-truck{
    color: #ffffff; /* Letras blancas */
    padding-right: 3px;
    font-size: 30px;
}
.letra-kanit-300{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
.letra-kanit-700{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;

}
.navbar{
    margin-bottom: 10px;

}
.navbar-nav .nav-link.active, .nav-link{
    color: #ffffff; /* Letras blancas */
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
.link-ingresar{
    color:#1E1604;
}
.nav-link:hover{
    color: #161E05; /* Letras blancas */
}
.link-ingresar:hover{
    color:#ffffff;
}
.navbar-brand{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 2px;
    color: #ffffff; /* Letras blancas */
}

.navbar-collapse{
    align-items: left;
    justify-content: space-between;
}

.ingresar{
    color: red;
}
/*Footer*/
footer{
    min-height: 300px;
    padding-top:100px;
}
.footer-texto{
    font-size: 1rem;
    padding-top:0px;
    margin-top: -10px;
    padding-bottom: 10px;

    margin-bottom: 10px;
    color:#1E1604;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;

}
.footer-texto-logo{
    font-size: 1.5rem;
    margin-top:-2px;
    margin-bottom: 3px;
    color:#1E1604;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;

}

.truck-2{
    color:#1E1604;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 80px;
    margin-bottom: -30px;
}
.footer-logo{
    width: 80px;
    height: 80px;
    margin-top:15px;
    margin-bottom:-3px;
}
.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 2px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: all 0.1 ease-in;
}
.iconos-redes-sociales i{
    color:white;
    font-size: 1.5rem;
    transition: all 0.1 ease-in;

}
.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid #1E1604;
}

.iconos-redes-sociales a:hover i{
    color: #1E1604;
}
.derechos-de-autor{
    color: #aeaeae;
    font-size: 15px;
    padding: 20px;
}
.seccion-oscura {
    color: white;
    background-color: #1E1604;
}

.login h2{
    font-size: 40px;;
}
.login{
    padding-top: 0px;
    padding-bottom: 10px;
}
.btn-oliva{
    background-color: #749D4B;
    color: #ffffff;
}
.btn:hover{
    background-color: white;
    color: #749D4B;
}
.c-ingresos{
    border-radius: 8px;;
    max-width: 500px;
    min-height: 200px;
    padding:20px;
}

.experiencia{
    padding: 40px 40px 60px 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.3s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #749D4B;
}

.experiencia i{
    font-size: 2.5rem;
    color: white;
    background-color: #161E05;
    padding: 8px 19px;
    border-radius: 50%;
}


.experiencia-titulo{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}

.badges-contenedor{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.badges{
    margin: 5px
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    background-color: white;    
    text-align: center;
}

.hero-principal{
    align-items: center;
}

.hero-imagen-ds{
    width: 150px;
    height: 300px;
}

.seccion-oscura-2 {
    height: 570px;
    padding: 10px;
    color: white;   
    background-color: #1E1604;
}

.seccion-oscura-2 .contenedor-sc{
    max-width: 600px;
    text-align: center;
}

/*Responsive*/

@media screen and (max-width: 768px) {
    .navbar-brand{
        display: none;
    }
}