{% extends 'base.html' %}
{% load static %} 
{% block extrahead %} 
<link rel="stylesheet" href="{% static '/css/index.css' %}">
<link rel="icon" type="image/x-icon" href="{% static '/img/logotruck1.svg' %}" >
<title>Reservar - ParkingTruck</title>
{% endblock extrahead%}

{% block content %}
<!--Contenido de la página web-->
<div class="container mt-4">
    <form method="post" action="{% url 'reserva' %}">
      {% csrf_token %}
      <section class="reserva">
        <h2 class="text-center p-3 letra-kanit-700">Reservar Estacionamiento</h2>
        <div class="formulario letra-kanit-700">
          <label for="{{ form.fecha_llegada.id_for_label }}">Fecha de Llegada:</label>
          <input type="date" class="form-control" name="{{ form.fecha_llegada.name }}" id="{{ form.fecha_llegada.id_for_label }}">
          <br>
          <label for="{{ form.hora_llegada.id_for_label }}">Hora de Llegada:</label>
          <input type="time" class="form-control" name="{{ form.hora_llegada.name }}" id="{{ form.hora_llegada.id_for_label }}">
          <br>
          <label for="{{ form.matricula.id_for_label }}">Matrícula del Vehículo:</label>
          <input type="text" class="form-control" name="{{ form.matricula.name }}" id="{{ form.matricula.id_for_label }}">
          <br>
          <label for="{{ form.tiempo_requerido.id_for_label }}">Tiempo Requerido (en horas):</label>
          <input type="number" class="form-control" name="{{ form.tiempo_requerido.name }}" id="{{ form.tiempo_requerido.id_for_label }}">
          <br>
          <label for="{{ form.servicio_restaurante.id_for_label }}">¿Necesita Servicio de Restaurante?</label>
          <input type="checkbox" class="form-check-input" name="{{ form.servicio_restaurante.name }}" id="{{ form.servicio_restaurante.id_for_label }}">
          <br>
          <label for="{{ form.servicio_mantenimiento.id_for_label }}">¿Necesita Servicio de Mantenimiento?</label>
          <input type="checkbox" class="form-check-input" name="{{ form.servicio_mantenimiento.name }}" id="{{ form.servicio_mantenimiento.id_for_label }}">
        </div>
        <button type="submit" class="btn btn-oliva letra-kanit-700">Reservar</button>
      </section>
    </form>
  </div>
{% endblock content %}